.Rproj.user
.Rhistory
.RData
.Ruserdata

# IGNORAR ARCHIVOS DEL TIPO
*.zip
*.xlsx
*.xlsm
*.xls

# IGNORAR CARPETAS
scbm/
Datos_guardado_por_gestion/
REGISTROS_DESCARGAS/
DATOS_ENTIDADES_ASFI_2014/
DATOS_ENTIDADES_ASFI_2015/
DATOS_ENTIDADES_ASFI_2016/
DATOS_ENTIDADES_ASFI_2017/
DATOS_ENTIDADES_ASFI_2018/
DATOS_ENTIDADES_ASFI_2019/
DATOS_ENTIDADES_ASFI_2020/
DATOS_ENTIDADES_ASFI_2021/
DATOS_ENTIDADES_ASFI_2022/
