.tab-content {
    margin-left: 200px;
    margin-right: 200px;
}
.header-presentacion {
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-title-proyecto {
    text-align: center;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
